*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;
   
}

::-webkit-scrollbar {

    width: 8px;

}

::-webkit-scrollbar-track {

    box-shadow: 'inset 0 0 2px rgba(0,0,0,0.3)';

    background-color: "0";

}

::-webkit-scrollbar {
    
    width: '8px';
    
    background-color: "0";

}

::-webkit-scrollbar-thumb {

    box-sizing: 'inset 0 0 2px';

    background-color: #FFCC00;

    border-radius: 50px;    

}


body{

    font-family: 'Comfortaa', cursive;
}

.navbar{

    display: flex;

    align-items: center;

    padding: 20px;

}

.logo {

    width: 125px;

}

.logo img{

    width: 125px;

}

nav{

    flex: 1;

    text-align: right;

}

nav ul{
    
    display: inline-block;
    
    list-style-type: none;
    
}

nav ul li{

    display: inline-block;
    
    margin-right: 20px;
    
}

a{
    
    text-decoration: none;
    
    color: #555;
    
}

.container{
    
    max-width: 1300px;
    
    margin: auto;
    
    padding-left: 25px;
    
    padding-right: 25px;
    
}

.menu-icon{

    width: 28px;

    margin-left: 20px;

    display: none;

}

.row{

    padding: 0 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

}

.row .col-2{

    flex-basis: 50%;

    min-width: 300px;

}

.row .col-2 img{

    max-width: 90%;

    padding: 50px 0;

    align-items: center;

}

.row .col-2 h1{

    color: #FFCC00;

    font-size: 40px;

    line-height: 60px;

    margin: 10px 0;

}

.btn{

    display: inline-block;

    background: #FFCC00;

    color: #fff;

    padding: 8px 30px;

    margin: 30px 0;

    border-radius: 30px;

    transition: background 0.5s;

}

.btn:hover{

    background: #c7a001;

}

.small-container{

    max-width: 1080px;

    margin: auto;

    padding-left: 25px;

    padding-right: 25px;
    
}

.row-2{

    justify-content: space-between;

    margin: 100px auto 50px;

}

.row-3{

    padding: 0 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

}

.row-3 a{

    padding: 0 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

    flex-basis: 25%;

    padding: 10px;

    min-width: 200px;

    margin-bottom: 50px;

    transition: transform 0.5s;

}

.col-4{

    flex-basis: 25%;

    padding: 10px;

    min-width: 200px;

    margin-bottom: 50px;

    transition: transform 0.5s;

}

.col-4:hover{

    transform: translateY(-5px);
}

.col-4 img{

    width: 100%;

}

.title{

    text-align: center;

    margin: 0 auto 80px;

    position: relative;

    line-height: 60px;

    color: #555;

}

.title{

    text-align: center;

    margin: 0 auto 80px;

    position: relative;

    line-height: 60px;

    color: #555;

}

.title::after{

    content: '';

    background: #FFCC00;

    width: 80px;

    height: 5px;

    border-radius: 5px;

    position: absolute;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);

}

abbr {

    text-decoration: none;

}

h4 {

    color: #FFCC00;

    margin: 10px 0;

}

.row .col-4 p{

    color: #555;

}

.title-colors{

    color: #FFCC00;

}

.color-normal{

    color: #555;

}

.col-2 p{

    color: #555;

}

h2, h5{

    color: #FFCC00;

}

.color-table{

    margin: 20px;

}

.title-colors{

    margin: 20px;

    color: #FFCC00;

}

.col-3{

    flex-basis: 30%;

    min-width: 250px;

    margin-bottom: 30px;

}

.col-3 img{

    width: 100%;

}

/*   media querys   */
@media only screen and (max-width: 800px){

    nav ul{

        position: absolute;

        top: 70px;

        left: 0;

        background: #FFCC00;

        width: 100%;

        overflow: hidden;

        transition: max-height 0.5s;

    }

    nav ul li{

        display: block;

        margin-right: 50px;

        margin-top: 10px;

        margin-bottom: 10px;

    }

    nav ul li a{

        color: #fff;

    }

    .menu-icon{

        display: block;

        cursor: pointer;
    }

}



@media only screen and (max-width: 600px) {

    .row{

        text-align: center;

    }

}

.equipe {

    padding-top: 10px;

}

.equipe .col-3 {

    text-align: center;

    padding: 40px 20px;

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: transform 0.5s;
}

.equipe .col-3 img {

    width: 75px;

    margin-top: 20px;

    border-radius: 50%;

}

.equipe .col-3:hover {

    transform: translateY(-10px);

}

.fa.fa-quote-left {

    font-size: 34px;

    color: #FFCC00;

}

.col-3 p {

    font-size: 12px;

    margin: 12px 0;

    color: #777;

}

.equipe .col-3 h3 {

    font-weight: 600;

    color: #555;

    font-size: 16px;

}

.equipe .small-container .row .col-3 {

    margin: 10px;

}



/*Footers*/

hr {

    border-top: 1px solid #ffcc00;

    margin: auto;

    width: 80%;

    background-color: #FFCC00;

}

footer {

    padding: 40px 0;

}

footer .social {

    text-align: center;

    padding-bottom: 25px;

}

footer .social a i {

    color: #FFCC00;

}

footer .social a {

    font-size: 24px;

    border: 1px solid #FFCC00;

    width: 40px;

    height: 40px;

    line-height: 38px;

    display: inline-block;

    text-align: center;

    border-radius: 50%;

    margin: 0 8px;

    opacity: 0.75;

    transition: opacity 0.5s;

}

footer .social a:hover {

    opacity: 0.9;

}

footer ul {

    margin-top: 0;

    padding: 0;

    list-style: none;

    font-size: 18px;

    line-height: 1.6;

    margin-bottom: 0;

    text-align: center;

}

footer ul li a {

    color: inherit;

    text-decoration: none;

    opacity: 0.8;

    transition: color 0.3s;

}

footer ul li a:hover{

    opacity: 1;

    color: #FFCC00;

}

footer ul li {

    display: inline-block;

    padding: 0 15px;

}

footer .copyright {

    margin-top: 15px;

    text-align: center;

    font-size: 13px;

    color: #FFCC00;

}



/*  Timeline  */
.timeline {

    width: 80%;

    height: auto;

    max-width: 800px;

    margin: 0 auto;

}

.timeline ul {

    list-style: none;

}

.timeline ul li {

    padding: 20px;

    background-color: #fffcd8;

    color: #555;

    border-radius: 10px;

    margin-bottom: 20px;

}

.timeline ul li:last-child {

    margin-bottom: 0;

}

.timeline-content .row .col-2 h1 {

    font-size: 25px;

    font-weight: 500;

    line-height: 30px;

}

.timeline-content .row .col-2 p {

    font-size: 16px;

    line-height: 20px;

    font-weight: 300;

}

.timeline-content .date{

    font-size: 13px;

    font-weight: 300;

    margin-bottom: 10px;

    letter-spacing: 2px;

    color: #777;

}

@media only screen and (min-width: 768px) {

    .timeline::before{

        content: '';

        position: absolute;

        height: 588%;

        width: 2px;

        transform: translateX(-50%);

        background-color: #FFCC00;

        left: 50%;

    }

    .timeline ul li{

        width: 50%;

        margin-bottom: 50px;

        position: relative;

        transition: background 0.5s;

    }

    .timeline ul li:nth-child(odd){

        float: left;

        clear: right;

        transform: translateX(-30px);

        border-radius: 20px 0px 20px 20px;

    }

    .timeline ul li:nth-child(even){

        float: right;

        clear: left;
        
        transform: translateX(30px);

        border-radius: 0px 20px 20px 20px;

    }

    .timeline ul li::after{

        content: '';

        position: absolute;

        height: 20px;

        width: 20px;

        background-color: #FFCC00;

        border-radius: 50%;

        top: 0;

    }

    .timeline ul li:nth-child(odd)::after{

        transform: translate(50%, -50%);

        right: -30px;

    }

    .timeline ul li:nth-child(even)::after{

        transform: translate(-50%, -50%);

        left: -30px;

    }

    .timeline ul li:hover:after{

        background-color: #c7a001;

    }

    .timeline-content .date{

        position: absolute;

        top: -20px;

    }

}