*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;
   
}

::-webkit-scrollbar {

    width: 8px;

}

::-webkit-scrollbar-track {

    box-shadow: 'inset 0 0 2px rgba(0,0,0,0.3)';

    background-color: "0";

}

::-webkit-scrollbar {
    
    width: '8px';
    
    background-color: "0";

}

::-webkit-scrollbar-thumb {

    box-sizing: 'inset 0 0 2px';

    background-color: #bababa;

    border-radius: 50px;    

}


body{

    font-family: 'Comfortaa', cursive;
}

.navbar{

    display: flex;

    align-items: center;

    padding: 20px;

}

.logo {

    width: 125px;

}

.logo img{

    width: 125px;

}

nav{

    flex: 1;

    text-align: right;

}

nav ul{
    
    display: inline-block;
    
    list-style-type: none;
    
}

nav ul li{

    display: inline-block;
    
    margin-right: 20px;
    
}

a{
    
    text-decoration: none;
    
    color: #555;
    
}

.container{
    
    max-width: 1300px;
    
    margin: auto;
    
    padding-left: 25px;
    
    padding-right: 25px;
    
}

.menu-icon{

    width: 28px;

    margin-left: 20px;

    display: none;

}

.row{

    padding: 0 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

}

.row .col-2{

    flex-basis: 50%;

    min-width: 300px;

}

.row .col-2 img{

    max-width: 90%;

    padding: 50px 0;

    align-items: center;

}

.row .col-2 h1{

    color: aquamarine;

    font-size: 40px;

    line-height: 60px;

    margin: 10px 0;

}

.btn{

    display: inline-block;

    background: aquamarine;

    color: #fff;

    padding: 8px 30px;

    margin: 30px 0;

    border-radius: 30px;

    transition: background 0.5s;

}

.btn:hover{

    background: aqua;

}

.small-container{

    max-width: 1080px;

    margin: auto;

    padding-left: 25px;

    padding-right: 25px;
    
}

.row-2{

    justify-content: space-between;

    margin: 100px auto 50px;

}

.row-3{

    padding: 0 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

}

.row-3 a{

    padding: 0 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

    flex-basis: 25%;

    padding: 10px;

    min-width: 200px;

    margin-bottom: 50px;

    transition: transform 0.5s;

}

.col-4{

    flex-basis: 25%;

    padding: 10px;

    min-width: 200px;

    margin-bottom: 50px;

    transition: transform 0.5s;

}

.col-4:hover{

    transform: translateY(-5px);
}

.col-4 img{

    width: 100%;

}

.title{

    text-align: center;

    margin: 0 auto 80px;

    position: relative;

    line-height: 60px;

    color: #555;

}

.title{

    text-align: center;

    margin: 0 auto 80px;

    position: relative;

    line-height: 60px;

    color: #555;

}

.title::after{

    content: '';

    background: aquamarine;

    width: 80px;

    height: 5px;

    border-radius: 5px;

    position: absolute;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);

}

abbr {

    text-decoration: none;

}

h4 {

    color: aquamarine;

    margin: 10px 0;

}

.row .col-4 p{

    color: #555;

}

.title-colors{

    color: #a582ff;

}

.color-normal{

    color: #555;

}

.col-2 p{

    color: #555;

}

h2, h5{

    color: aquamarine;

}

.color-table{

    margin: 20px;

}

.title-colors{

    margin: 20px;

    color: aquamarine;

}

/*   media querys   */
@media only screen and (max-width: 800px){

    nav ul{

        position: absolute;

        top: 70px;

        left: 0;

        background: aquamarine;

        width: 100%;

        overflow: hidden;

        transition: max-height 0.5s;

    }

    nav ul li{

        display: block;

        margin-right: 50px;

        margin-top: 10px;

        margin-bottom: 10px;

    }

    nav ul li a{

        color: #fff;

    }

    .menu-icon{

        display: block;

        cursor: pointer;
    }

}



@media only screen and (max-width: 600px){

    .row{

        text-align: center;

    }

}