*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;
   
}

::-webkit-scrollbar {

    width: 8px;

}

::-webkit-scrollbar-track {

    box-shadow: 'inset 0 0 2px rgba(0,0,0,0.3)';

    background-color: "0";

}

::-webkit-scrollbar {
    
    width: '8px';
    
    background-color: "0";

}

::-webkit-scrollbar-thumb {

    box-sizing: 'inset 0 0 2px';

    background-color: #bababa;

    border-radius: 50px;    

}


body{

    font-family: 'Comfortaa', cursive;
}

.navbar{

    display: flex;

    align-items: center;

    padding: 20px;

}

.logo {

    width: 125px;

}

.logo img{

    width: 125px;

}

nav{

    flex: 1;

    text-align: right;

}

nav ul{
    
    display: inline-block;
    
    list-style-type: none;
    
}

nav ul li{

    display: inline-block;
    
    margin-right: 20px;
    
}

a{
    
    text-decoration: none;
    
    color: #555;
    
}

.container{
    
    max-width: 1300px;
    
    margin: auto;
    
    padding-left: 25px;
    
    padding-right: 25px;
    
}

.menu-icon{

    width: 28px;

    margin-left: 20px;

    display: none;

}

.row{

    height: 400px;

    padding: 30px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: center;

}

.row .col-2{

    flex-basis: 50%;

    min-width: 300px;

}

.row .col-2 img{

    max-width: 90%;

    padding: 50px 0;

}

.row .col-2 h1{

    color: aquamarine;

    font-size: 40px;

    line-height: 60px;

    margin: 10px 0;

}

.col-2-img{

    display: flex; 
    
    justify-content: center;
    
    align-items: center;

}

.btn{

    display: inline-block;

    background: aquamarine;

    color: #fff;

    padding: 8px 30px;

    margin: 30px 0;

    border-radius: 30px;

    transition: background 0.5s;

}

.btn:hover{

    background: #754b9a;

}

/*   media querys   */
@media only screen and (max-width: 800px){

    nav ul{

        position: absolute;

        top: 70px;

        left: 0;

        background: #c27dff;

        width: 100%;

        overflow: hidden;

        transition: max-height 0.5s;

    }

    nav ul li{

        display: block;

        margin-right: 50px;

        margin-top: 10px;

        margin-bottom: 10px;

    }

    nav ul li a{

        color: #fff;

    }

    .menu-icon{

        display: block;

        cursor: pointer;
    }

}



@media only screen and (max-width: 600px){

    .row{

        text-align: center;

    }

}